html {
  color-scheme: light dark;
  line-height: 1.2;
}

body {
  font: -apple-system-short-body;
  margin: 200px auto;
  width: fit-content;
}

@media only screen and (max-width: 768px) {
  body {
    padding: 0 20px;
    margin: 50px auto;
  }
}

button {
  font-size: 1em;
}

label {
  display: block;
  margin: 5px 0;
}

input {
  border: 1px solid;
  padding: 2px;
  width: 250px;
  font-size: 0.85em;
}

h2 {
  margin-top: 30px;
  margin-bottom: 10px;
}

a {
  color: #05e;
}

a:hover, a:focus {
  color: #03c;
}

@media (prefers-color-scheme: dark) {
  a {
    color: #59f;
  }

  a:hover, a:focus {
    color: #58d;
  }
}

.input > button {
  margin-left: 2px;
}

#info {
  margin-bottom: 0;
}

#title {
  display: flex;
  align-items: center;
  transform: translateX(-38px);
}

#title > img {
  margin-right: 6px;
}

#title > h1 {
  display: inline;
  margin: 0;
}

@media only screen and (max-width: 768px) {
  #title {
    transform: none;
  }

  #title > img {
    display: none;
  }
}

#matches {
  margin-top: 20px;
}

#matches > p {
  margin: 0 0 8px 0;
}

#matches > p > button {
  margin-right: 6px;
  padding: 1px 3px;
}
